

.navbar{
   min-height: 4rem;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    background-color: plum;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 1rem 2rem;      
}

.navLinks{
    display: flex;
    gap: 2rem;
}


.main-wrapper{
    background-color: rgb(0, 226, 251);
    min-height: 700px;
    padding: 1rem;
}

